{% extends 'Back/Back.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('BackEnd/plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
    <h1>Products list</h1>

    <div class="card-body">


        <a  href="{{ path('produit_new') }}"><button class="btn btn-block bg-gradient-success">Create a new Product</button></a>
        </br>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Idfournisseur</th>
                <th>Promo</th>
                <th>Garantie</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.idFournisseur }}</td>
                    <td>{{ produit.etatPromo }}</td>
                    <td>{{ produit.garantie }}</td>
                    <td><a class="btn btn-primary btn-sm" href="{{ path('produit_show', { 'id': produit.id }) }}"><i class="fas fa-folder">
                            </i>show</a></td>
                    <td><a class="btn btn-info btn-sm" href="{{ path('produit_edit', { 'id': produit.id }) }}"><i class="fas fa-pencil-alt">
                            </i>edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Idfournisseur</th>
                <th>Promo</th>
                <th>Garantie</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <script src="{{ asset('BackEnd/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#example1').DataTable();
        } );
    </script>

    <script src="{{ asset('BackEnd/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('BackEnd/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('BackEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>


{% endblock %}
