{% extends 'Back/Back.html.twig' %}

{% block content %}

    <h1 >Produit creation</h1>

    <a href="{{ path('produit_index') }}"><button class="btn btn-warning toastsDefaultWarning">Return to Product Display</button></a>
    {{ form_start(form) }}




    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Nom du Produit</label>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Quantite Du Produit</label>
            {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description Du Produit</label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Prix Du Produit</label>
            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Fournisseur Du Produit</label>
            {{ form_widget(form.idFournisseur,  {'attr': {'class': 'form-control'},'disabled':'disabled', 'value':'0'}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">etatPromo Du Produit</label>
            {{ form_widget(form.etatPromo,  {'attr': {'class': 'form-control'},'disabled':'disabled', 'value':'0'}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Garantie Du Produit</label>
            {{ form_widget(form.garantie, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Categorie Du Produit</label>
            {{ form_widget(form.categorie,  {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="exampleInputFile">File input</label>
                        {{ form_widget(form.image,  {'attr': {'class': 'form-control'}}) }}</label>

    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <input  class="btn btn-primary" type="submit" value="Create" />
    </div>
    {{ form_rest(form) }}

    {{ form_end(form) }}


{% endblock %}
