{% extends 'Front/Front.html.twig' %}
{% block content %}<link rel="stylesheet" href="{{ asset('FrontEnd/css/rating.css') }}">
<center> <br><br><br><br>


    {% if produit.etatPromo== 0 %}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <img src="{{  asset(asset('images/' ~ produit.image ))  }}" width="450" height="450">
                    </div>

                </div>

                <div class="details col-md-6" ><br><br><br><br>
                    <h3 class="product-title">{{ produit.nom }}</h3>
                    <div class="rating" >
                        <div class="stars">

                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">Garantie : {{ produit.garantie }} years </span>
                    </div>

                    <h4 class="price" >current price: <span>{{ produit.prix }} dt</span></h4>

                    <p class="vote">

                        {% if produit.quantite >10 %} <strong>{{ produit.quantite }}</strong>
                    {% elseif produit.quantite >0 %}<strong> ONLY {{ produit.quantite }} left</strong>
                    {% else  %}<strong><h5 style="color: red;">SOLD OUT</h5></strong>
                        {% endif %}
                    <p class="product-description">  {{ produit.description }}</p>
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        {{ socialButtons( {'twitter':false} ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></center>





    {% else  %}
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <img src="{{  asset(asset('images/' ~ produit.image ))  }}" width="450" height="450">
                        </div>

                    </div>
                    <div class="details col-md-6"><br><br><br><br>
                        <h3 class="product-title">{{ produit.nom }}</h3>
                        <div class="rating">
                            <div class="stars">

                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">Garantie : {{ produit.garantie }} years </span>
                        </div>

                        <h4 class="price">Last price: <span><strike>{{ produit.prix }} dt</strike></span></h4>
                        <h4 class="price">Current price: <span>{{ promotion[0].prix }} dt</span></h4>
                        <p class="vote">

                            {% if produit.quantite >10 %} <strong>{{ produit.quantite }} piece disponible</strong>
                            {% elseif produit.quantite >0 %}<strong> ONLY {{ produit.quantite }} left</strong>
                            {% else  %}<strong><h5 style="color: red;">SOLD OUT</h5></strong>
                            {% endif %}
                        <p class="product-description">  {{ produit.description }}</p>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>
                        {{ socialButtons( {'twitter':false} ) }}

                    </div>
                </div>
            </div>
        </div>
    </div></center>
    {% endif %}






















    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <script src="{{ asset('FrontEnd/js/rating.js') }}"></script>

<br><br><br><br><br><br>
{% endblock %}
