{% extends 'Back/Back.html.twig' %}

{% block content %}



    <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Reclamations</span>
                <span class="info-box-number">
                  {{ countReclamation }}
                  <small></small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Produit</span>
                <span class="info-box-number">{{ countProduit }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Commandes</span>
                <span class="info-box-number">{{ countCommande }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Utulisateurs</span>
                <span class="info-box-number">{{ countUser }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- jQuery Knob -->
                <div class="card card-success collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="far fa-chart-bar"></i>
                            Counting HuntKingdom Objects
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                        class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>


<!--                                                            OMG                                                  -->
                    
                    <div class="card-body">

                        <div class="row">


                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>{{ countProduit }}</h3>

                                        <p>Produits</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                    <a href="{{ path('produit_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->

                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-danger">
                                    <div class="inner">
                                        <h3>{{ countCategorie }}</h3>

                                        <p>Categories des Produits</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-folder"></i>
                                    </div>
                                    <a href="{{ path('categorie_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                                                    <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>{{ countUser }}</h3>

                                        <p>Utulisateurs</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person"></i>
                                    </div>
                                    <a href="{{ path('user_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                        
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-lime">
                                    <div class="inner">
                                        <h3>{{ countPublication }}</h3>

                                        <p>Publications</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-share"></i>
                                    </div>
                                    <a href="{{ path('publication_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-teal">
                                    <div class="inner">
                                        <h3>{{ countReclamation }}</h3>

                                        <p>Reclamations</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-clipboard"></i>
                                    </div>
                                    <a href="{{ path('reclamation_index') }}"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                                                    <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>{{ countEspece }}</h3>

                                        <p>Especes</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-alert"></i>
                                    </div>
                                    <a href="{{ path('espece_indexBack') }}"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            

                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-orange">
                                    <div class="inner">
                                        <h3>{{ countEvenement }}</h3>

                                        <p>Evenements</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-android-walk"></i>
                                    </div>
                                    <a href="{{ path('evenement_index') }}"class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                          
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-light">
                                    <div class="inner">
                                        <h3>{{ countCommande }}</h3>

                                        <p>Commandes</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-paperclip"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                           
                        </div>


                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>


    <!--******************************************************** /Partie 2 ********************************* -->
<!--                                                            OMG                                                  -->
                    
                    <div class="card-body">

                        <div class="row">
             
                                        <!-- DONUT CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Data Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="myChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
              <!-- DONUT CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Data Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="myChart4" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
                                                    <!-- DONUT CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Data Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="myChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
                        <!-- DONUT CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Data Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="myChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
                            <!-- ./col -->
                        </div>


                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

    </div>


    <!--******************************************************** /Partie 2 ********************************* -->



</div>



            {% set Jan = 0%}
            {% set Feb = 0%}
            {% set Mar = 0%}
            {% set Apr = 0%}
            {% set May = 0%}
            {% set Jun = 0%}
            {% set Jul = 0%}
            {% set Aug = 0%}
            {% set Sep = 0%}
            {% set Oct = 0%}
            {% set Nov = 0%}
            {% set Dec = 0%}

            {% for rec in reclamation %}

                {% if rec.date|date("M") == "Jan" %}
                    {% set Jan = Jan + 1 %}
                {% elseif rec.date|date("M") == "Feb" %}
                    {% set Feb = Feb + 1 %}
                {% elseif rec.date|date("M") == "Mar" %}
                    {% set Mar = Mar + 1 %}
                {% elseif rec.date|date("M") == "Apr" %}
                    {% set Apr = Apr + 1 %}
                {% elseif rec.date|date("M") == "May" %}
                    {% set May = May + 1 %}
                {% elseif rec.date|date("M") == "Jun" %}
                    {% set Jun = Jun + 1 %}
                {% elseif rec.date|date("M") == "Jul" %}
                    {% set Jul = Jul + 1 %}
                {% elseif rec.date|date("M") == "Aug" %}
                    {% set Aug = Aug + 1 %}
                {% elseif rec.date|date("M") == "Sep" %}
                    {% set Sep = Sep + 1 %}
                {% elseif rec.date|date("M") == "Aug" %}
                    {% set Aug = Aug + 1 %}
                {% elseif rec.date|date("M") == "Nov" %}
                    {% set Nov = Nov + 1 %}
                {% elseif rec.date|date("M") == "Dec" %}
                    {% set Dec = Dec + 1 %}
                {% endif %}


            {% endfor %}

<!--                        Reclamation Per Month                      -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script> 

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        datasets: [{
            label: 'Reclamation par mois',
            backgroundColor: 'rgb(105,105,105)',
            borderColor: 'rgb(105,105,105)',
            data: [{{Jan}}, {{Feb}}, {{Mar}}, {{Apr}}, {{May}}, {{Jun}}, {{Jul}},{{Aug}} , {{Sep}},{{Oct}} ,{{Nov}},{{Dec}}  ]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>



            {% set Jan = 0%}
            {% set Feb = 0%}
            {% set Mar = 0%}
            {% set Apr = 0%}
            {% set May = 0%}
            {% set Jun = 0%}
            {% set Jul = 0%}
            {% set Aug = 0%}
            {% set Sep = 0%}
            {% set Oct = 0%}
            {% set Nov = 0%}
            {% set Dec = 0%}

            {% for rec in publication %}

                {% if rec.datePublication|date("M") == "Jan" %}
                    {% set Jan = Jan + 1 %}
                {% elseif rec.datePublication|date("M") == "Feb" %}
                    {% set Feb = Feb + 1 %}
                {% elseif rec.datePublication|date("M") == "Mar" %}
                    {% set Mar = Mar + 1 %}
                {% elseif rec.datePublication|date("M") == "Apr" %}
                    {% set Apr = Apr + 1 %}
                {% elseif rec.datePublication|date("M") == "May" %}
                    {% set May = May + 1 %}
                {% elseif rec.datePublication|date("M") == "Jun" %}
                    {% set Jun = Jun + 1 %}
                {% elseif rec.datePublication|date("M") == "Jul" %}
                    {% set Jul = Jul + 1 %}
                {% elseif rec.datePublication|date("M") == "Aug" %}
                    {% set Aug = Aug + 1 %}
                {% elseif rec.datePublication|date("M") == "Sep" %}
                    {% set Sep = Sep + 1 %}
                {% elseif rec.datePublication|date("M") == "Aug" %}
                    {% set Aug = Aug + 1 %}
                {% elseif rec.datePublication|date("M") == "Nov" %}
                    {% set Nov = Nov + 1 %}
                {% elseif rec.datePublication|date("M") == "Dec" %}
                    {% set Dec = Dec + 1 %}
                {% endif %}


            {% endfor %}

<!--                        Reclamation Per Month                      -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script> 

var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        datasets: [{
            label: 'publication par mois',
            backgroundColor: 'rgb(105,105,105)',
            borderColor: 'rgb(105,105,105)',
            data: [{{Jan}}, {{Feb}}, {{Mar}}, {{Apr}}, {{May}}, {{Jun}}, {{Jul}},{{Aug}} , {{Sep}},{{Oct}} ,{{Nov}},{{Dec}}  ]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>
      










            {% set six = 0%}
            {% set seven = 0%}
            {% set eight = 0%}
            {% set nine = 0%}
            {% set ten = 0%}

            {% for rec in commande %}

                {% if rec.date|date("Y") == "2016" %}
                    {% set six = six + 1 %}
                {% elseif rec.date|date("Y") == "2017" %}
                    {% set seven = seven + 1 %}
                {% elseif rec.date|date("Y") == "2018" %}
                    {% set eight = eight + 1 %}

                {% elseif rec.date|date("Y") == "2019" %}
                    {% set nine = nine + 1 %}
                {% elseif rec.date|date("Y") == "2020" %}
                    {% set ten = ten + 1 %}

                {% endif %}


            {% endfor %}



<!--        new-->
<script>
var ctx = document.getElementById("myChart3");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["2016", "2017", "2018", "2019", "2020"],
    datasets: [{
      label: 'Commandes par an',
      data: [{{six}}, {{seven}} , {{eight}}, {{nine}}, {{ten}}],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    responsive: false,
    scales: {
      xAxes: [{
        ticks: {
          maxRotation: 90,
          minRotation: 80
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
</script>
 







            {% set six = 0%}
            {% set seven = 0%}
            {% set eight = 0%}
            {% set nine = 0%}
            {% set ten = 0%}

            {% for rec in evenement %}

                {% if rec.date|date("Y") == "2016" %}
                    {% set six = six + 1 %}
                {% elseif rec.date|date("Y") == "2017" %}
                    {% set seven = seven + 1 %}
                {% elseif rec.date|date("Y") == "2018" %}
                    {% set eight = eight + 1 %}

                {% elseif rec.date|date("Y") == "2019" %}
                    {% set nine = nine + 1 %}
                {% elseif rec.date|date("Y") == "2020" %}
                    {% set ten = ten + 1 %}

                {% endif %}


            {% endfor %}



<!--        new-->
<script>
var ctx = document.getElementById("myChart4");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["2016", "2017", "2018", "2019", "2020"],
    datasets: [{
      label: 'Evenement par an',
      data: [{{six}}, {{seven}} , {{eight}}, {{nine}}, {{ten}}],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    responsive: false,
    scales: {
      xAxes: [{
        ticks: {
          maxRotation: 90,
          minRotation: 80
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
</script>
{% endblock %}
